<% include header.ejs %>
<link rel="stylesheet" href="css/login.css">
<script type="text/javascript" src="js/login.js"></script>
<style>
 input[type=text],input[type=email],input[type=password] {
    background: #fff;
    width: 100%;
    height: 40px;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
 }
  </style>
<div class="jumbotron jumbotron-fluid">
  
    <div class="container border" style="background-color: lightgray; width:36%;" ><br>
      <div>
        <a href="/login" class="backbtn btn-danger float-right">&laquo; Back</a>
      </div>
      <div class="text-center">
        <h2>Create your account</h2>
      </div>
      <form method ="post" action="/signup">
        <div class="form-group" method="post" action="customer.aspx">
          <label for="exampleInputEmail1">Name:</label>
          <input type="text" class="form-control " name="name"  placeholder="Enter Your Name">
        </div>
        <div class="form-group" method="post" action="customer.aspx">
          <label for="exampleInputEmail1">Email:</label>
          <input type="email" class="form-control " name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email Address">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="form-control " name="password" id="exampleInputPassword1" placeholder="Enter Password">
        </div>
        <input  type="submit" class="btn btn-info font-weight-bold"  value="Create"/>
      </form>
    </div>
  </div>
  <% include footer.ejs %>
