<!-- This is static footer for all pages -->
<footer class="footer">
 <div class="container">
   <div class="row">
     <div class="col-6">
       <h6>Always available to help you.</h6>
       <a class="rounded-circle text-center bg-primary" href="https://www.facebook.com/" target="_blank">
         <i class="fa fa-2x fa-facebook"></i>
       </a>
       <a class="rounded-circle text-center bg-info" href="https://www.facebook.com/" target="_blank">
         <i class="fa fa-2x fa-twitter"></i>
       </a>
       <a class="rounded-circle text-center bg-danger" href="https://www.facebook.com/" target="_blank">
         <i class="fa fa-2x fa-instagram"></i>
       </a>
     </div>
     <div class="col-6 lefttext">
       <h4>Opening Days:</h4></li>
       <span>Monday – Friday : 9am to 20 pm</span>
       <span>Saturday : 9am to 17 pm</span></li>
     </div>
   </div>
 </div>
</footer>
</body>
</html>