<% include header.ejs %>
<link rel="stylesheet" href="css/data.css">
       <script type="text/javascript" src="js/pharmacy.js"></script>
<div class="jumbotron" >
    <div class="container text-center">
        <h1 class="display-8" style="color: green">Pharmacy Detials</h1>
    </div>
<div class="entries">
    <div class="input-group form-input">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-dark">Medicine</span>
      </div>
      <input type="text" aria-label="First name" id="first" class="form-control">
    </div>
    <div class="input-group form-input">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-dark">Amount</span>
      </div>
      <input type="text" aria-label="First name" id="second" class="form-control">
    </div>
      <div class="input-group form-input">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-dark">Stock</span>
        </div>
        <input type="text" aria-label="First name" id="third" class="form-control">
      </div>
      <button onclick="add()" type="button" class="btn btn-success">Enter</button>
    </div>
  <table class="table table-bordered data-table" id ="myTable">
    <thead class="bg-info text-dark">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Medicine</th>
        <th scope="col">Amount</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="data" class="bg-white"></tbody>
  </table>
  </div>
  <% include footer.ejs %>