
body{
	width: 100%

}
header{
	background-color: rgb(111, 200, 255);
	height:100px;
	margin-left: 0px;
	padding: 0px;

}

header ul li a{
	color: black;
	text-decoration: none;
	font-size: 16px;
	margin:10px;
}
a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin:10px;
}

a:hover {
	color: #fd7e14;
}
#left-nav{
	float:left;


}
#left-nav li{
	display: inline-block;

}
#left-nav li a{
	display: inline-block;
	font-size: 30px;
}

ul li{
	list-style-type: none;
}

#right-nav{
	float: right;
	padding: 25px;
	margin-right: 50px;

}

#right-nav li{
	display: inline-block;
	margin:10px;
}
.container a {
	text-align: left;
	text-decoration: none;
	font-size: 17px;
}

.form-container{
	margin-left: 150px;
}

/*a:hover{
	color: blue;
}*/
li{
	display: inline-block;
}


input[type=text]{
	margin-top: 8px;
	border-radius:none;
	font-size: 14px;
}


.pic{
	width:100px;
	height:100px;
	margin-right:15px;
	align-content: center;
}

.login-container{
	width: 50%;
	/*height: 400px;*/
	background: lightgray;
	border-left: 1px solid red;
	border-right: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	margin-left: 300px;

}

.schedule {
	float: right;
	margin-top: -100px;
}


section{
	width: 50%;
	float: left;
	/*height: 400px;*/
	background: teal;
	text-align: justify;

}
.right{
	width: 50%;
	float: right;
	padding-top: 50px;
	/*height: 400px;*/
	background: whitesmoke;
	border-left: 1px solid red;

}


.booking{
	padding-left: 140px;
	padding-right: 40px		}

	.booking h3{
		margin-left: 47px;
		margin-right:128px;
		margin-top:50px;
	}

	.doctorlist{
		padding-left: 140px;
		padding-right: 40px
	}

	.main{
		margin: 0;
		display: inline-flex;		}
		.main::after{
			content: "";
			clear:both;
			display: table;

		}


		.btn-custom a {
			color:white;
		}
		.btn{
			/*background-color: white;*/

		}
		li{
			display: inline-block;
		}

		form {
			margin-left: 20px;
		}

		.input-appointment{
			width: 70%;
			padding: 12px 20px;
			margin: 10px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 10px;
			box-sizing: border-box;
		}


		input[type=submit]:hover {
			background-color: #45a049;
		}



		input{
			position: relative;
			display: inline-block;
			font-size: 16px;
			box-sizing: border-box;;
			transition: .5;

		}
		
		input[type=submit] {
			position: relative;
			left:-5px;
			border-radius: 0 25px 25px 0;
			width: 28%;
			height: 40px;
			background-color: #45a049;
			border:none;
			outline: none;
			cursor: pointer;
			background:#ffc107;
			color: #fff;
		}


		.btn-custom a:hover {
			color: blue;
		}

		.pics img {
			vertical-align: middle;
			border-style: none;
			margin-left: 25%

		}
		h1{
			background-color: blue;
		}

		/*Footer style*/
		.footer{
			bottom: 0;
			width: 100%;
			/*height: 127px;*/
			background-color: rgb(111, 200, 255);
		}

		.footer > .container a{
			width: 50px;
			height: 50px;
			background-color: blueviolet;
		}

		.footer > .container a:hover{
			color: maroon;
		}


		.container li{
			display: inline-block;
		}

		.container a {
			float: left;
			padding: 8px 12px;
			text-decoration: none;
			font-size: 17px;
		}

		.lefttext{
			padding: 18px;
			padding-left: 145px;
		}
/*footer end*/